{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<p>
    Welcome on findAJob web site,<br/>
    You need to login to get full functionnalities of the website,<br/>
    Enjoy !
</p>
{% endblock %}