<div class="container" align="center">
    <a routerLink="/newPost" class="btn btn-primary btn-lg btn-block">Add a post</a><hr>
    <a routerLink="/myPosts" class="btn btn-secondary btn-lg btn-block">My posts</a><hr>
    <div (click)="deleteUser()" class="btn btn-success btn-lg btn-block">Delete my account</div><hr>
    <a routerLink="/account/edit" class="btn btn-info btn-lg btn-block">Change my data</a><hr>
    <a routerLink="/newCategory" class="btn btn-warning btn-lg btn-block">FAQ</a><hr>
    <a routerLink="#" class="btn btn-danger btn-lg btn-block">Contact</a><hr>
</div>